/* styles.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

header {
    background-color: #f8bcb6;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
}

h1 {
    margin: 0;
    font-size: 2.5em; /* Tamanho maior para o título */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff; /* Cor dos links do menu */
    font-weight: bold;
}

main {
    margin-top: 20px;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: scale(1.02); /* Efeito de zoom */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
}

a {
    text-decoration: none;
    color: #333;
}

/* Botões estilizados */
button {
    background-color: #c47770;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0b4b0;
}

/* Media Queries para Orientação */
@media (orientation: landscape) {
    body {
        font-size: 18px;
    }
}

@media (orientation: portrait) {
    body {
        font-size: 16px;
    }
}

main{
text-decoration: underline;
text-decoration: overline rgb(140, 220, 245);
text-decoration: none;

/* Global values */
text-decoration: inherit;
text-decoration: initial;
text-decoration: revert;
text-decoration: revert-layer;
text-decoration: unset;
 }
 